.gryphon-homepage {
    background-image: url('../../assets/images/homeBanner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  
  
  .gryphon-navbar {
    position: absolute;
    top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gryphon-logo {
    font-size: 24px;
  }
  
  .gryphon-nav-buttons button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
  }
  
  .gryphon-title {
    text-transform: uppercase;
    font-family: "Unbounded", serif!important;
    font-size: 11rem;
    font-weight: bold;
    margin: 0;
  }
  
  .gryphon-subtitle {
    font-size: 2.2rem;
    margin: 10px 0;
    font-weight: 700;
  }
  
  .gryphon-contact {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
  .gryphon-icon{
    font-weight: bold;
    font-size: 1.6rem;
  }

  .gryphon-menu{
    font-weight: 500;
  }